body {
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  background-color: $base-color-white;
}

a {
  text-decoration: none;
}
