.card__link {
  font-size: 16px;
  color: $base-color-grey;
  font-weight: $primary-font-weight;
  text-transform: uppercase;
}

.card__title {
  font-family: $secondary-font;
  font-weight: $primary-font-weight;
  text-transform: uppercase;
}

.card__list {
  list-style-type: none;
}

.card__item {
  font-size: 12px;
}

.card__button {
  font-size: 16px;
}
