.catalog {
  @media (min-width: $tablet-width) {
    padding: 40px 0 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 0 71px;
  }
}

.catalog__wrapper {
  margin: 0 auto;
  border-top: 1px solid $decor-color;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    min-width: unset;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: $primary-font-weight;
  color: $base-color-text-dark;
  width: 280px;
  margin: 27px auto 40px;

  @media (min-width: $tablet-width) {
    width: unset;
    margin: 0 0 84px;
    font-size: 60px;
    line-height: 1;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 63px 80px;
  }
}
