.developer__link {
  font-size: 16px;
  color: $base-color-text;
  display: block;
  width: 27px;
  height: 34px;
}

.developer__link--text {
  color: $base-color-text;
}

.developer__link--image {
  mask-image: url("../../icons/stack.svg#html-logo");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #666666;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.developer__link:active {
  opacity: 0.3;
}
