.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 632px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
  }
}

.form__input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1.5;
  height: 56px;
  font-weight: $primary-font-weight;
  text-transform: uppercase;
  color: $base-color-text;
  padding: 12px;
  box-sizing: border-box;
  border: solid 1px $decor-color-medium;

  &:hover {
    border-color: $decor-color-dark;
  }

  &:focus {
    border: solid 2px $base-color-text;
  }

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}


.form__input--error,
.form__input--error:hover,
.form__input--error:focus {
  border: solid 2px $error-color;
}


.form__button {
  padding: 15px;
  font-size: 20px;
  line-height: 1.3;
  border: none;

  @media (min-width: $tablet-width) {
    min-width: 256px;
    max-width: 300px;
    padding: 15px;
  }
}
