.product__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: $primary-font-weight;
  text-transform: uppercase;
  color: $base-color-grey;
}

.product__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 125px;
  justify-content: space-between;
}
