.programms__wrapper {
  min-height: 592px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.programms__title {
  color: $base-color-text-dark;
  font-family: $secondary-font;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: inherit;
  line-height: 37px;
}

.programms__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .programms__wrapper {
    min-height: 789px;
  }

  .programms__item {
    min-height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .programms__wrapper {
    min-height: 527px;
  }

  .programms__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programms__item {
    width: 570px;
    min-height: 374px;
  }
}

.programms__description {
  line-height: 18px;
}

.programms__item {
  background-color: $base-color-light-grey;
  min-height: 266px;

  &--slim {
    background-image: url("../../icons/stack.svg#slim-cat");
    background-repeat: no-repeat;
    background-size: 50px 53px;
  }

  &--pro {
    background-image: url("../../icons/stack.svg#pro-cat");
    background-repeat: no-repeat;
    background-size: 67px 50px;
  }
}

.programms__link {
  font-family: $secondary-font;
  font-size: 16px;
  color: $base-color-text-dark;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;

  &::before {
    display: block;
    content: "";
    width: 24px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#arrow");
    mask-size: 24px 12px;
    mask-repeat: no-repeat;
    background-color: $base-color-text-dark;
  }

  &:active {
    opacity: 0.3;
  }
}
