.promo {
  background: rgba(104, 183, 56, 0.85);
  color: $base-color-white;
  font-size: 16px;
  text-align: center;

  &::before {
    background-image: url("../../icons/stack.svg#gift");
    background-repeat:no-repeat;
    background-size: 78px 80px;
  }
}
