.socials__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.socials__link {
  &--vk::before {
    display: block;
    content: "";
    width: 27px;
    height: 17px;
    mask-image: url("../../icons/stack.svg#vkontakte");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: #666666;
  }

  &--youtube::before {
    display: block;
    content: "";
    width: 24px;
    height: 19px;
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: #666666;
  }

  &--telegram::before {
    display: block;
    content: "";
    width: 20px;
    height: 17px;
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: #666666;
  }

  &:hover::before,
  &:focus::before {
    background-color: $accent-color;
  }

  &:active::before {
    background-color: $accent-color;
    opacity: 0.3;
  }
}
