.subscription {
  font-family: $secondary-font;
  color: $base-color-text-dark;
  font-weight: $primary-font-weight;
}

.subscription__title {
  font-size: 24px;
}

.subscription__subtitle {
  font-size: 16px;
}
