.subscription {
  font-family: $secondary-font;
  color: $base-color-text-dark;
  font-weight: $primary-font-weight;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 104px;
  }
}

.subscription__title {
  font-size: 24px;
  font-family: $secondary-font;
  line-height: 1;
  font-weight: $primary-font-weight;
  margin: 0 0 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 67px 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px;
  }
}

.subscription__subtitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $base-color-text-dark;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
    font-size: 24px;
    line-height: 1.3;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px;
  }
}
